body {
	background: black;
}
.postcard-body {
	display: flex;
}
.postcard {
	width: 400px;
	height: 300px;
	background: white;
	margin: auto;
}

.postcard-header {
	display: flex;
}
.postcard-header h1 {
	width: 350px;
	margin: 0 0 0 10px;
}
.postcard-header img {
	width: 50px;
	height: 50px;
}
.body-left p:first-child {
	margin-top: 0;
}
input {
	border: none;
	border-bottom: 1px solid grey;
}
.body-left,
.body-right {
	padding: 10px;
}
.body-left p {
	font-size: 14px;
}
.postcard-footer {
	text-align: center;
}
button {
	background-color: gray;
	padding: 10px 20px;
}