body{
    background: black;
}
* {
	border: 1px dashed red;
	min-height: 10px;
}
.postcard-body {
	display: flex;
}
.postcard {
    width: 400px;
    height: 300px;
    background: white;
    margin:auto;
}
.postcard-header h1 {
	width: 350px;
	margin: 0 0 0 10px;
}
.postcard-header img {
	width: 50px;
	height: 50px;
}
.postcard-header {
	display: flex;
}